body {
  padding: 0;
  margin: 0;
}
#ling-doc {
  background-color: #272b36;
  min-height: 100dvh;
  font-size: 14px;

  .ling-setting {
    position: fixed;
    left: 0;
    width: 300px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
    z-index: 995;
    box-shadow: rgba(0, 0, 0, 0.5) -3px 5px 1px 0px;
  }

  .ling-components {
    position: fixed;
    right: 0;
    width: 300px;
    background-color: #fff;
    // padding: 16px;
    box-sizing: border-box;
    z-index: 995;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 1px 0px;
  }

  .option-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 990;
    box-shadow: rgba(0, 0, 0, 0.5) 8px 3px 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    .inner {
      box-sizing: border-box;
      width: 210mm;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .r {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
    &.left {
      margin-left: 300px;
      margin-right: 300px;
      width: calc(100% - 600px);
    }
  }
  .ling-doc-wrapper {
    background-color: #fff;
    width: 210mm;
    min-height: 273mm;
  }
  .ling-doc {
    box-sizing: border-box;
    padding: 16px;
    position: relative;
    width: 210mm;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-auto-rows: minmax(24px, auto);
    grid-column-gap: 8px;
    // grid-row-gap: 8px;
    line-height: 1.5;
    grid-auto-flow: row;
  }
  .ling-comp {
    box-sizing: border-box;
    transition: var(--el-transition-duration);
    display: flex;
    align-items: center;

    .remove {
      display: none;
      position: absolute;
      right: 2px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    label {
      white-space: nowrap;
    }
  }
  .check-list {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  .ling-comp-check {
    input.inner {
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid black;
      flex: 1 1 0;
      font-size: 14px;
    }
  }

  .ling-comp-input {
    display: flex;
    gap: 8px;
    align-items: center;
    input {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid black;
      flex: 1 1 0;
      font-size: 14px;
    }
  }

  .ling-doc-inner
  .el-select {
    --el-input-text-color: #000;
    width: 100%;
    input {
      border: none;
    }
    .el-select__wrapper {
      outline: none;
      border: none;
      border-radius: 0;
      background-color: transparent;
      border-bottom: 1px solid black;
      padding: 0;
      padding-left: 1px;
      padding-right: 1px;
      min-height: 24px;
      font-size: 14px;
      box-shadow: none;
    }
    .el-select__selected-item {
      .el-tag {
        --el-tag-bg-color: transparent;
        .el-tag__content {
          font-size: 14px;
          color: var(--el-input-text-color);
          background-color: transparent;
        }
      }
    }
  }



}

.ling-write {
  display: flex;
  justify-content: center;
  padding: 16px;
  .readonly {
    pointer-events: none !important;
  }
  .required {
    background-color: #ffd14f !important;
  }
  .showed {
    display: none !important;
  }
}

.ling-editor {
  user-select: none;
  display: flex;

  .ling-doc-inner {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
  }

  .now-select {
    outline: solid #f25d22 1px !important;
  }

  .ling-comp {
    outline: dashed #22a7f2 1px;
    position: relative;
    transition: all 0.3s ease-in-out;
    .remove {
      position: absolute;
      right: 2px;
    }
    &:hover .remove {
      display: block !important;
    }
    &::before {
      content: attr(ling-key);
      position: absolute;
      font-size: 12px;
      box-sizing: border-box;
      padding: 0 6px;
      opacity: 0;
      color: #fff;
      background-color: #22a6f2;
      left: 0;
      top: 0;
      display: none;
    }
    &:hover::before {
      display: block;
      opacity: 0.9;
    }
    input,
    .el-select,
    .ling-label {
      pointer-events: none !important;
    }
  }
}
